@import 'https://fonts.googleapis.com/css?family=Inconsolata';

.ErrorContainer{
margin-top: 350px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-shadow: 0 4px 3px rgb(0 0 0 / 40%), 0 8px 13px rgb(0 0 0 / 10%), 0 18px 23px rgb(0 0 0 / 10%);
}

.titleContainer h2{
    font-size: 80px;
    color: #0089ff;
}

.backLink{
    font-size: 2rem;
    font-weight: bolder;
    word-spacing: 1px;
    letter-spacing: 1px;
}

